.classA {
    background: rgba(1, 197, 197, 0.738);
    height: 500px;
}

.classB {
    height: 500px;
}

.classC {
    background: lightyellow;
    height: 500px;
}

.classD {
    height: 500px;
}

.classE {
    background: rgba(1, 197, 197, 0.738);
    height: 500px;
}

.classF {
    height: 500px;
}